$boxShadow: 0 2px 8px #f0f1f2;
$backgroundColor: #ffffff;
$background-default-color: #ffffff;
$background-color-black: #000000;

$font-size-base: 14px;
$font-size-small: 12px;
$font-disabled-color: #c0c4cc;

$border-default-width: 1px;
$border-default-style: solid;
$border-default-color: #dcdfe6;
$border-default-radius: 4px;

$padding-vertical-base: 12px;
$padding-vertical-medium: 10px;
$padding-vertical-small: 9px;
$padding-vertical-mini: 7px;

$padding-horizontal-base: 20px;
$padding-horizontal-small: 15px;

$button-active-shade-percent: 10%;

$input-width: 140px;
$input-height: 40px;
$input-active-shade-percent: 10%;
$input-height-medium: 36px;
$input-height-small: 32px;
$input-height-mini: 28px;